$font-1: 'Lato', sans-serif;
$font-2: font-family: 'Merriweather', serif;
$font-accent: font-family: 'Meddon', cursive;

$c-black: #000000;
$c-white: #fff;
$c-gray: #818181;

@import 'hero';
@import 'reset';
